[Desktop Entry]
Type=Application
Name=Analog Clock
Comment=Analog clock widget
Exec=xclock -analog -background white -foreground black -hd black -hl black -bd white -size 140 -geometry +130+15 -update 1
Terminal=false
